.s-1-image {
    width: 90%;
}


.dssd {
    padding-top: 150px;
    width: 90%;
}
/* @media screen and (min-width:992px) {
    .iovs {
        position: absolute;
        top: 50%;   
    }
} */
.shadow-style {
    box-shadow: 0 0 10px 0.3px rgba(0, 0, 0, 0.355);
    border-radius: 10px;
    z-index: 10;
    transform: translateX(0px);
}
.dsccx {
    font-size: 8vw;
}
@media screen and (min-width:768px) {
    .fasdc {
        transform: translateX(30px) !important;
    }
    .shadow-style {
        
        transform: translateX(70px);
    }
    .dsccx {
        font-size: 3vw !important;
    }
}
  
@media screen and (max-width:600px) {
    .s-1-image {
        width: 100% !important;
        margin-top: 0 !important;
    }
} 
@media screen and (max-width:768px) {
    .rev-768 {
        display: flex;
        flex-direction: column-reverse !important;
    }   
    .dssd {
        padding-top: 0;
        width: 100%;
    }
    
}