@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-boxo-boxo/css/bpg-boxo-boxo.min.css");
@import url('./!kolxeti_96.ttf');
@import url("//cdn.web-fonts.ge/fonts/bpg-rioni-vera/css/bpg-rioni-vera.min.css");

@font-face {
    font-family: 'kolxeti';
    src: url('./!kolxeti_96.ttf'), format('truetype');
    font-style: normal;
}
html {
    overflow-x: hidden;
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: 0;
    text-decoration: none;

}

body {
    width: 100%;
    background: url('../boards/Component\ 1\ –\ 1.png');
    background-size: cover;
    overflow-x: hidden !important;
    background-repeat: no-repeat;
}



/* section - 1  */
.dsadxzz {
    height: fit-content !important;
    padding: 40px;
}
.section-1 {
    background-image: url("./Screen\ Shot\ 2022-09-30\ at\ 13.21.03.png");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100%;
    position: relative;
}

.desc-font {
    font-family: "BPG Rioni Vera", sans-serif;
    font-size: 22px;
    font-weight: 500 !important;

}

.title-font {
    font-family: "BPG Nino Mtavruli", sans-serif !important;
    font-weight: bolder !important;
}

.toggle {
    display: none;
}

.container .row .col-md-12 .flex-center i {
    font-size: 20px;
}

nav {
    display: flex !important;
    align-items: center;
    width: 100% !important;
    justify-content: space-between;
}

nav ul li {
    margin: 15px;
}

nav ul {
    align-items: center;
    width: 100%;
    background-color: red;
    justify-content: space-around;
    display: flex;
}

.rait {
    position: absolute !important;
    bottom: -40px;
    right: 0;
    width: 13vw !important;
}

.toggle-bar {
    display: none;
}

.navbar-active {
    width: 80%;
    overflow: visible;
}

header {

    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.part {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo img {
    width: 50px;
}

.dir-col {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.globe img {
    width: 30px;
}

.langs {
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.242);
    margin-top: 5px;
    display: none;
    position: absolute;
    top: 40px;
    left: -35px;
}

.show-langs {
    display: flex;
}

.langs span {

    padding: 10px;
}

header {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.part {
    align-items: center;
    display: flex;
}

.logo img {
    width: 50px;
}

.dir-col {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.globe img {
    width: 30px;
}

.langs {
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.242);
    margin-top: 5px;
    display: none;
    position: absolute;
    top: 40px;
    left: -35px;
}

.show-langs {
    display: flex;
}

.langs span {

    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav li {
    position: relative;
    margin: 10px;
    padding: 15px 5px;
}

nav li::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

nav li:hover {
    background-color: rgba(218, 218, 218, 0.613);
}

nav li:hover:after {
    background-color: white;
}

nav li a {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
}


.container-text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-title-2 h2 {
    font-size: 50px;
}

.section-2-container {
    height: 100%;
}

.start-btn {
    color: white;
    background-color: #116DFF;
    border-radius: 100px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.arrow {
    font-size: 20px;
}

@keyframes arrow-animation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.arrow-place {
    animation: arrow-animation 3s infinite ease-in-out;
}

/* section-1 */



/* section - 2*/
.section-2 {
    width: 100%;
    height: 150vh;
    background-image: url('./asseets/asset-2.png');
    background-color: #fff;
    background-size: cover;
    position: relative;

}

.section-2-container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2-width {
    width: 100%;
}

.swiper {
    border-radius: 15px;
    width: 80%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col1-width {
    width: 40%;
}

.col2-width {
    width: 60%;
}

.col3-width {
    width: 80%;
}

/* section - 2*/
.section-3 {
    width: 100%;
    height: 100%;
    background-image: url('./asseets/asset-3.png');
    background-color: #fff;
    position: relative;
    background-size: cover;

}

.desc {
    font-family: 'Roboto', sans-serif;

}

.desc {
    font-size: 18px;
}

.nav-toggle {
    display: none;
}

.close-btn {
    display: none;
}

.resp-globe {
    display: none;
}

.hide-navbar {
    width: 0% !important;
    overflow: hidden;
}

.show-navbar {
    width: 100%;
    overflow: visible;
}

.show-langs {
    display: block;
}

/* section 3 */
.rev {
    flex-direction: row-reverse;
}

.se {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-2-container {
    height: 150vh;
}

.third-row {
    margin: 0 auto;
    width: 90%;
    justify-content: center !important;
}

.reservation {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.third-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.bi-check-circle {
    font-size: 30px;
    color: #116DFF;
}

.row-items {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-items span {
    font-size: 20px;
}

.col2-width img {
    width: 90% !important;
}

/* section 3 */


/* section 4 */
.section-4 {
    width: 100%;
    background: url('./asseets/asset-4.png');
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    position: relative;

}

.section-7 {
    width: 100%;
    background: url('./asseets/asset-3.png');
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    flex-direction: column;


}

.icons {
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.icon-col i {
    color: #116DFF;
    font-size: 55px;
}

.icon-col {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.adv-inner {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

/* section 4 */


/* section 5 */

.section-5 {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: relative;
}

.tools {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: grid;
    margin: 0 auto;
    max-width: 900px;
    grid-template-columns: repeat(2, 450px);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.title {
    padding-top: 100px;
    text-align: center;
}

.fourth-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.sec-image {
    width: 50vh !important;
}

.rait {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rait-image-2,
.rait-image-1 {
    position: absolute;
}

.rait-image-1 {
    left: 100px;
    width: 200px;
}

.rait-image-2 {
    z-index: 9;
    top: -50px;
    right: 50px;
    width: 300px;
}

.main-title-container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    margin: 0 auto;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
}

.card-diff {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #116DFF;
}

.card {
    width: 300px;
    color: white;
    border-radius: 5px;
    background-color: #116DFF !important;
}



.purchase {
    padding: 10px 0;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
}

.main-title-container h1 {
    font-size: 4vw;
}

/* section 5 */
@media screen and (max-width:1000px) {
    .sec-image {
        width: 40vh !important;
    }

    .main-title-container h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width:850px) {
    .sec-image {
        width: 40vh !important;
    }

    .section-2-container {
        gap: 40px;
        width: 100%;
        flex-direction: column;
    }

    .section-6 h2 {
        font-size: 40px;
    }

    .icons {
        flex-direction: column;
        align-items: center;
    }

    .rait {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 150px;
    }

    .adv-inner {
        top: -10%;
    }

    .title h3 {
        padding: 0 20px;
        font-size: 23px;
        text-align: center;
    }

    .langs {
        display: none;
    }

    .resp-globe {
        position: relative;
        display: block;
    }

    .resp-globe i {
        color: white;
        font-size: 25px;
    }

    .close-btn {
        cursor: pointer;
        display: block;
        font-size: 25px;
        color: white;
    }

    .resp-globe img {
        width: 25px;
        fill: white;
    }

    .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .globe {
        display: none;
    }

    .col1-width {
        width: 80%;
    }

    .col2-width {
        width: 100%;
    }

    .pc-ph {
        width: 60vw !important;
    }

    .nav-toggle {
        cursor: pointer;
        display: block;
    }

    .nav-toggle .bi-list {
        font-size: 30px;
    }

    nav {
        transition: 0.3s;
        padding-top: 50px;
        z-index: 999;
        background-color: rgb(191, 191, 191);
        flex-direction: column;
        align-items: center;
        width: 0%;
        overflow: hidden;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
    }

    .tools {
        margin-top: 122px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .container-text .main-title-2 h2 {
        font-size: 40px;

    }

    .container-text {
        margin-top: 70px;
    }

    .third-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:1500px) {
    .container-text {
        margin: 30vh auto;
    }
}

nav {
    display: flex;
    align-items: center;
}

nav li {
    position: relative;
    margin: 10px;
    padding: 15px 5px;
}

nav li::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

nav li a:hover {
    color: white;
}

nav li:hover {
    background-color: rgba(218, 218, 218, 0.613);
}

nav li:hover:after {
    background-color: white;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dassd {
    width: 30vw !important;
}


@media screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 50px;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: gray;
    }

    .title-content {
        height: 190vw;
    }

    .pricing:nth-child(1) {
        width: 350px !important;
    }

    .pricing:nth-child(2) {
        width: 350px !important;
    }

    .images {
        bottom: -100px !important;
        width: 377px !important;
    }

    .outer-box {
        width: 90% !important;
    }

    .cll {
        width: 334px !important;
    }

    .aud {
        width: 200px !important;
        height: 150px !important;
    }

    #content-image {
        width: 21rem !important;
    }

    .toggle-bar {
        display: block;
    }

    .section-box {
        width: 400px !important;
    }
}

#logo {
    width: 50px;
}

@media screen and (max-width:800px) {
    .toggle {
        display: block;
    }


    .section-1-back {
        background-position: inherit;
    }

    .section-2-back {
        background-position: unset;
    }

    .section-3-back {
        background-position: unset;
    }

    .section-4-back {
        background-position: unset;
    }

    .section-6-back {
        background-position: center;
    }

    .section-7-back {}


}

@media screen and (min-width:1500px) {
    .section-content {
        height: 1080px !important;
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-nav {
    justify-content: space-between;
}

.navbar-nav a {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.sec-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.start {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 25px;
}

@media screen and (max-width:900px) {
    .mystyles {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .navbar-nav {
        width: 100%;
        align-items: center;
    }
    .outer-box {
        padding: 20px !important;
        height: fit-content !important; 
    }
    .inside-box {
        padding: 29px !important;

    }
    .calll {
        top: -50%;
    }
}

@media screen and (min-width:900px) {
    .cover-images {
        padding-top: 100px !important;
    }
}
/* content section  */


/* .section-1-back {
    background-image: url('../boards/section-1.png') !important;
}

.section-2-back {
    background-image: url('../boards/section-2.png') !important;
}

.section-3-back {
    background-image: url('../boards/section-3.png') !important;
}

.section-4-back {
    background-image: url('../boards/section-4.png') !important;
}

.section-5-back {
    background-image: url('../boards/section-5.png') !important;
}

.section-6-back {
    background-image: url('../boards/section-6.png') !important;
}

.section-7-back {
    background-image: url('../boards/section-7.png') !important;
}

.section-8-back {
    background-image: url('../boards/Web1920-8.jpg') !important;
} */

.section-content {
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    position: relative;
}

.section-container {

    width: 90%;
    height: 55%;
    display: flex;

    flex-direction: row;
    justify-content: space-around;

}




.section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    position: relative;
    height: 100%;
}

.phone {
    width: 150px !important;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.aud {
    border-radius: 20px;
    border: 10px solid black;
    width: 300px;
    height: 200px;
    position: absolute;
}

.images {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: center;
    grid-gap: 20px;
    height: 500px;
    position: absolute;
}

.cover-images {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.aud:nth-child(1) {
    transform: rotate(-8deg);
    bottom: 140px;
    left: 50px;
}

.section-content {
    position: relative;
}

.pricing {
    border-radius: 20px;
    width: 430px;
    box-shadow: 3px 3px 10px 0.01px rgba(0, 0, 0, 0.349);
    height: 330px;
    background-color: rgb(224, 216, 228);
    opacity: 0.9;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.167);
    border-radius: 10px;
    width: 92%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 242, 246);
}

.inner-content {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.pricing:nth-child(2) {

    right: -140px;
    top: 140px;
    height: 220px;
    position: absolute;

}

.pricing:nth-child(1) {
    height: 220px;
    position: absolute;
    left: 0;
}

.aud:nth-child(2) {
    right: 20px;
    top: 150px;
    transform: rotate(8deg);
}

.wine {
    border-radius: 20px;
    border: 10px solid white;
}

#content-image {
    width: 500px;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    padding: 40px 20px;
    background-color: rgb(239, 239, 239);
    border-radius: 15px;
    height: max-content;
    margin: 4px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.407);
}

.cal-con {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.407);

}

.calendar {

    width: 160% !important;
}

.rev {
    position: relative;
    flex-direction: row-reverse;
}

.checks {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.checks i {
    color: #116DFF;
    margin-right: 10px;
}

.checks .desc-font {
    font-size: 20px;
}

.cll .title-font {
    letter-spacing: 1px;
}

.ck-icn {
    font-size: 25px !important;
}

.cll {
    width: 550px;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ck {
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-gap: 3px;

}


@media screen and (min-width:1800px) {
    .title-font {
        font-size: 50px !important;
    }

    .desc-font {
        font-size: 25px !important;
    }

    .cll {
        width: 520px;
        height: fit-content;
    }

    .pricing {
        width: 600px;
        height: 300px !important;
    }

    .pricing:nth-child(2) {
        top: 200px;
        left: 400px;
    }

    .outer-box {
        width: 1200px !important;
        height: 400px;
    }

    .start {
        font-size: 25px;
    }
}








@media screen and (min-width:1600px) {
    .section-box {
        width: 600px !important;
    }
    .outer-box {
        height: 550px !important;
    }
}











.outer-box {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #A89FDD;
    border-radius: 30px;
}

.gr {
    background-color: rgb(170, 246, 244);
}

.gr-wh {
    width: 90% !important;
    height: 83% !important;
    background-color: rgb(220, 255, 250) !important;

}

.grn {
    background-color: #B0E2D7 !important;
}

.pnk {
    background-color: #E3E0F4 !important;
}

.inside-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
    border-radius: 25px;
    background-color: #E6F6F2;
    width: 95%;
    padding: 0 20px;
    height: 90%;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.183);
}
.sddcc {
    width: 500px;
}

.calll {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    transform: translate(-50%, -50%);

}

@media screen and (max-width:900px) {

    .section-row {
        display: flex;
        flex-direction: column;
        grid-gap: 60px;
    }

    .dassd {
        width:90% !important;
    }

    .cover-images {
        width: 70%;
    }

    .calll {
        top: -13%;
        left: 50%;
    }

    .phone {
        right: 0;
        bottom: -20px;
    }

    .rait {
        width: 150px !important;
        right: -32px !important;
    }

    .section-container {
        width: 95%;
        grid-gap: 90px;
    }

    .section-container {
        align-items: center;
        flex-direction: column-reverse;
    }

    .calendar {
        width: 40rem;
    }

    @media screen and (max-width:700px) {

        .pricing:nth-child(1) {
            position: static;
            width: 400px;
        }

        .inner-content {
            height: max-content;
            width: 90%;
            align-items: center;
            flex-direction: column;
        }

        .pricing:nth-child(2) {
            position: static;
            width: 400px;
        }

        .pricing {
            position: relative;
        }

        .inner-content {
            width: 1000px;
        }
        .sddcc {
            width: 350px !important;
        }

    }
}

footer {
    background: white;
}